name: Main workflow

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        architecture: [x64, x86]
        python-version: ['3.7', '3.8']
        julia-version: ['1.3', '~1.5.0-rc1']
        exclude:
          - os: ubuntu-latest
            architecture: x86
          - os: macos-latest
            architecture: x86
          - os: macos-latest
            julia-version: '1.3'
          - os: windows-latest
            julia-version: '1.3'
      fail-fast: false
    name: ${{ matrix.os }} ${{ matrix.architecture }}
      Python ${{ matrix.python-version }}
      Julia ${{ matrix.julia-version }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
      - name: Setup julia
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.architecture }}
      - run: python src/julia/find_libpython.py --list-all --verbose
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox
      - name: Install PyCall
        run: python ci/install_pycall.py
      - name: Run test
        run: python -m tox -- --cov=julia
        env:
          CI: 'true'  # run tests marked by @only_in_ci
          TOXENV: py
          PYJULIA_TEST_REBUILD: 'yes'
      - run: cat .tox/py/log/pytest.log
        if: always()
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          name: codecov-umbrella

  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv: ['style', 'doc']
      fail-fast: false
    name: Check ${{ matrix.toxenv }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - run: python -m pip install --upgrade tox
      - run: python -m tox -e ${{ matrix.toxenv }}
